---
services:
  # Since the latest version of MySQL is set to use default SSL certificate files,
  # that SSL certificate isn't able to set CN, we need to create our own SSL certificate files.
  ssl_certificate:
    environment:
      DOMAIN_NAME: database
      SUPPORT_ROOT_DOMAIN: true
    image: futureys/ssl-certificate:2.1.1
    volumes:
      - pki:/etc/pki
  #Since the image: futureys/ssl-certificate:2.0.2 only supports sud-domain.
  database:
    command:
      - --ssl-ca=/etc/pki/CA/cacert-database.pem
      - --ssl-cert=/etc/pki/tls/certs/servercert-database.pem
      - --ssl-key=/etc/pki/tls/private/serverkey-database.pem
      # For testing with MySQL 8.0 ~ less than 9.0 and PHP less than 7.4.4
      # - --default-authentication-plugin=mysql_native_password
    depends_on:
      - ssl_certificate
    entrypoint: setup-certificate.sh
    environment:
      DOMAIN_NAME: database
      MYSQL_ROOT_PASSWORD: examplepass
    image: mysql:${MYSQL_VERSION:-5.7}
    volumes:
      # To enable SSL for MySQL serving.
      - pki:/etc/pki
      # To wait for creating certificate and setup it.
      - ./database_entrypoint/setup-certificate.sh:/usr/local/bin/setup-certificate.sh
  phpunit:
    command:
      - bash
    depends_on:
      - database
      - ssl_certificate
    environment:
      DATABASE_PASSWORD: examplepass
      WORDPRESS_VERSION: ${WORDPRESS_VERSION:-latest}
    image: futureys/phpunit-wordpress-plugin:${TAG_PHP_UNIT_WORDPRESS_PLUGIN?err}
    stdin_open: true
    tty: true
    volumes:
      # To enable SSL for access to MySQL.
      - pki:/etc/pki
      - ${PATH_TO_INDIVIDUAL_PLUGIN_DIRECTORY:?err}:/plugin
# To enable SSL for access to MySQL.
volumes:
  pki:
